In [1]:
import pandas as pd
import numpy as np
import datetime
from scorepi import *
from epiweeks import Week
import matplotlib.pyplot as plt
from collections import defaultdict
import seaborn as sns

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [ ]:
# all models
allmodels = ["Ensemble","Ensemble_LOP","Ensemble_LOP_untrimmed"]

allrds = [4, 5, 6, 7, 9, 10, 11, 12, 13, 14, 15, 16]

In [3]:
locations = pd.read_csv('./dat/locations.csv',dtype={'location':str})

In [ ]:
# max 12 weeks ahead?

In [20]:
from pathlib import Path

In [23]:
rd = 4
start_week = Week(2021,12)
end_week = Week(2021,38)
max_date = datetime.datetime(2021, 6, 23)
models = ["Ensemble","Ensemble_LOP","Ensemble_LOP_untrimmed"]

predictions_rd4 = pd.DataFrame()
for model in models:
    fil = Path(f'./dat/{model}_rd{rd}.pq')
    if fil.is_file():
    
        predictions = pd.read_parquet(f'./dat/{model}_rd{rd}.pq')

        predictions['Model'] = model
    
        predictions_rd4 = pd.concat([predictions_rd4, predictions])

In [25]:
rd = 5
start_week = Week(2021,17)
end_week = Week(2021,43)
max_date = datetime.datetime(2021, 6, 23)
models = ["Ensemble","Ensemble_LOP","Ensemble_LOP_untrimmed"]

predictions_rd5 = pd.DataFrame()
for model in models:
    fil = Path(f'./dat/{model}_rd{rd}.pq')
    if fil.is_file():
    
        predictions = pd.read_parquet(f'./dat/{model}_rd{rd}.pq')

        predictions['Model'] = model
    
        predictions_rd5 = pd.concat([predictions_rd5, predictions])

In [26]:
rd = 6
start_week = Week(2021,21)
end_week = Week(2021,47)
max_date = datetime.datetime(2021, 12, 21)
models = ["Ensemble","Ensemble_LOP","Ensemble_LOP_untrimmed"]

predictions_rd6 = pd.DataFrame()
for model in models:
    fil = Path(f'./dat/{model}_rd{rd}.pq')
    if fil.is_file():
    
        predictions = pd.read_parquet(f'./dat/{model}_rd{rd}.pq')

        predictions['Model'] = model
    
        predictions_rd6 = pd.concat([predictions_rd6, predictions])

In [27]:
rd = 7
start_week = Week(2021,27)
end_week = Week(2021,52)
max_date = datetime.datetime(2021, 12, 21)
models = ["Ensemble","Ensemble_LOP","Ensemble_LOP_untrimmed"]

predictions_rd7 = pd.DataFrame()
for model in models:
    fil = Path(f'./dat/{model}_rd{rd}.pq')
    if fil.is_file():
    
        predictions = pd.read_parquet(f'./dat/{model}_rd{rd}.pq')

        predictions['Model'] = model
    
        predictions_rd7 = pd.concat([predictions_rd7, predictions])

In [28]:
rd = 9
start_week = Week(2021,36)
end_week = Week(2022,9)
max_date = datetime.datetime(2021, 12, 21)
models = ["Ensemble","Ensemble_LOP","Ensemble_LOP_untrimmed"]

predictions_rd9 = pd.DataFrame()
for model in models:
    fil = Path(f'./dat/{model}_rd{rd}.pq')
    if fil.is_file():
    
        predictions = pd.read_parquet(f'./dat/{model}_rd{rd}.pq')

        predictions['Model'] = model
    
        predictions_rd9 = pd.concat([predictions_rd9, predictions])

In [29]:
rd = 10
start_week = Week(2021,46)
end_week = Week(2022, 45)
#max_date = datetime.datetime(2021, 12, 21)
models = ["Ensemble","Ensemble_LOP","Ensemble_LOP_untrimmed"]

predictions_rd10 = pd.DataFrame()
for model in models:
    fil = Path(f'./dat/{model}_rd{rd}.pq')
    if fil.is_file():
    
        predictions = pd.read_parquet(f'./dat/{model}_rd{rd}.pq')

        predictions['Model'] = model
    
        predictions_rd10 = pd.concat([predictions_rd10, predictions])

In [30]:
rd = 11
start_week = Week(2021,51)
end_week = Week(2022, 10)
#max_date = datetime.datetime(2021, 12, 21)
models = ["Ensemble","Ensemble_LOP","Ensemble_LOP_untrimmed"]

predictions_rd11 = pd.DataFrame()
for model in models:
    fil = Path(f'./dat/{model}_rd{rd}.pq')
    if fil.is_file():
    
        predictions = pd.read_parquet(f'./dat/{model}_rd{rd}.pq')

        predictions['Model'] = model
    
        predictions_rd11 = pd.concat([predictions_rd11, predictions])

In [31]:
rd = 12
start_week = Week(2022,2)
end_week = Week(2022, 13)
#max_date = datetime.datetime(2021, 12, 21)
models = ["Ensemble","Ensemble_LOP","Ensemble_LOP_untrimmed"]

predictions_rd12 = pd.DataFrame()
for model in models:
    fil = Path(f'./dat/{model}_rd{rd}.pq')
    if fil.is_file():
    
        predictions = pd.read_parquet(f'./dat/{model}_rd{rd}.pq')

        predictions['Model'] = model
    
        predictions_rd12 = pd.concat([predictions_rd12, predictions])

In [33]:
rd = 13
start_week = Week(2022,11)
end_week = Week(2023, 11)
#max_date = datetime.datetime(2021, 12, 21)
models = ["Ensemble","Ensemble_LOP","Ensemble_LOP_untrimmed"]

predictions_rd13 = pd.DataFrame()
for model in models:
    fil = Path(f'./dat/{model}_rd{rd}.pq')
    if fil.is_file():
    
        predictions = pd.read_parquet(f'./dat/{model}_rd{rd}.pq')

        predictions['Model'] = model
    
        predictions_rd13 = pd.concat([predictions_rd13, predictions])

In [35]:
rd = 14
start_week = Week(2022,23)
end_week = Week(2023, 23)
#max_date = datetime.datetime(2021, 12, 21)
models = ["Ensemble","Ensemble_LOP","Ensemble_LOP_untrimmed"]

predictions_rd14 = pd.DataFrame()
for model in models:
    fil = Path(f'./dat/{model}_rd{rd}.pq')
    if fil.is_file():
    
        predictions = pd.read_parquet(f'./dat/{model}_rd{rd}.pq')

        predictions['Model'] = model
    
        predictions_rd14 = pd.concat([predictions_rd14, predictions])

In [36]:
rd = 15
start_week = Week(2022,31)
end_week = Week(2023, 18)
#max_date = datetime.datetime(2021, 12, 21)
models = ["Ensemble","Ensemble_LOP","Ensemble_LOP_untrimmed"]

predictions_rd15 = pd.DataFrame()
for model in models:
    fil = Path(f'./dat/{model}_rd{rd}.pq')
    if fil.is_file():
    
        predictions = pd.read_parquet(f'./dat/{model}_rd{rd}.pq')

        predictions['Model'] = model
    
        predictions_rd15 = pd.concat([predictions_rd15, predictions])

In [37]:
rd = 16
start_week = Week(2022,44)
end_week = Week(2023, 17)
#max_date = datetime.datetime(2021, 12, 21)
models = ["Ensemble","Ensemble_LOP","Ensemble_LOP_untrimmed"]

predictions_rd16 = pd.DataFrame()
for model in models:
    fil = Path(f'./dat/{model}_rd{rd}.pq')
    if fil.is_file():
    
        predictions = pd.read_parquet(f'./dat/{model}_rd{rd}.pq')

        predictions['Model'] = model
    
        predictions_rd16 = pd.concat([predictions_rd16, predictions])

In [38]:
predictions_rd16

,scenario_id,scenario_name,target,target_end_date,location,value,type,quantile,model_projection_date,Model
0,A-2022-10-29,highBoo_modVar,1 wk ahead cum case,2022-11-05,01,1.536303e+06,quantile,0.010,2022-10-30,Ensemble
1,A-2022-10-29,highBoo_modVar,1 wk ahead cum case,2022-11-05,02,3.003809e+05,quantile,0.010,2022-10-30,Ensemble
2,A-2022-10-29,highBoo_modVar,1 wk ahead cum case,2022-11-05,04,2.292100e+06,quantile,0.010,2022-10-30,Ensemble
3,A-2022-10-29,highBoo_modVar,1 wk ahead cum case,2022-11-05,05,9.604527e+05,quantile,0.010,2022-10-30,Ensemble
4,A-2022-10-29,highBoo_modVar,1 wk ahead cum case,2022-11-05,06,1.138180e+07,quantile,0.010,2022-10-30,Ensemble
...,...,...,...,...,...,...,...,...,...,...
818059,D-2022-10-29,lowBoo_highVar,9 wk ahead inc hosp,2022-12-31,78,1.900000e+00,quantile,0.850,2022-10-30,Ensemble_LOP_untrimmed
818060,D-2022-10-29,lowBoo_highVar,9 wk ahead inc hosp,2022-12-31,78,2.200000e+00,quantile,0.900,2022-10-30,Ensemble_LOP_untrimmed
818061,D-2022-10-29,lowBoo_highVar,9 wk ahead inc hosp,2022-12-31,78,2.400000e+00,quantile,0.950,2022-10-30,Ensemble_LOP_untrimmed
818062,D-2022-10-29,lowBoo_highVar,9 wk ahead inc hosp,2022-12-31,78,2.500000e+00,quantile,0.975,2022-10-30,Ensemble_LOP_untrimmed
818063,D-2022-10-29,lowBoo_highVar,9 wk ahead inc hosp,2022-12-31,78,2.600000e+00,quantile,0.990,2022-10-30,Ensemble_LOP_untrimmed

In [42]:
predictions_rd16['quantile'].unique()

array([0.01 , 0.025, 0.05 , 0.1  , 0.15 , 0.2  , 0.25 , 0.3  , 0.35 ,
       0.4  , 0.45 , 0.5  , 0.55 , 0.6  , 0.65 , 0.7  , 0.75 , 0.8  ,
       0.85 , 0.9  , 0.95 , 0.975, 0.99 ])

In [43]:
model = "MOBS_NEU-GLEAM_COVID"
rd=12
predictions = pd.read_parquet(f'./dat/{model}_rd{rd}.pq')

loclist = list(predictions.location.unique())
loclist.remove('US')

In [67]:
# get median predictions

#rd = 16
#predrd = predictions_rd16
#max_date = None

predsall = [predictions_rd4, predictions_rd5, predictions_rd6, predictions_rd7, predictions_rd9, predictions_rd10,
           predictions_rd11, predictions_rd12, predictions_rd13, predictions_rd14, predictions_rd15, predictions_rd16]
rds = [4, 5, 6, 7, 9, 10, 11, 12, 13, 14 ,15, 16]

ind = 0

for predrd in predsall:
    rd = rds[ind]
    
    ind += 1
    
    if rd in [4, 5]:
        max_date = datetime.datetime(2021, 6, 23)
    elif rd in [6,7,8,9]:
        max_date = datetime.datetime(2021, 12, 21)
    else:
        max_date = None


    for target in ['case', 'death', 'hosp']:

        models = list(predrd.Model.unique())

        median_ensembles = dict()
        extreme_ensembles = dict()

        df = pd.DataFrame(columns=['target_end_date','value','population', 'Model', 'Location'])

        for l in loclist:
            median_ensembles[l] = {}
            extreme_ensembles[l] = {}

            #target = 'death'
            #target = 'hosp'
            #target = 'case'
            incidence = True
            target_location = l


            if target == 'hosp':
                target_obs = 'hospitalization'
            else:
                target_obs = target

            locations = pd.read_csv('./dat/locations.csv',dtype={'location':str})
            location_mapping = dict()
            for loc in locations['location']:
                location_mapping[loc] = locations[locations['location'] == loc]['abbreviation'].unique()[0]


            target_prediction_list = [f"{i} wk ahead {'inc' if incidence else 'cum'} {target}" for i in range(1,20)]

            for model in models:    
                try:
                    predictions = predrd[predrd.Model == model]
                    predictions['target_end_date'] = pd.to_datetime(predictions['target_end_date'])
                    predictions = predictions[predictions.location != 'US']
                    predictions = predictions.astype({'location':'int'})


                    locations = locations[locations.location != 'US']
                    locations = locations.astype({'location':'int'})

                    predictions = predictions.merge(locations, how='inner', on='location')

                    target_locations = int(target_location)

                    pred = predictions[predictions['location'] == int(target_location)].copy()

                    #filter target
                    pred = pred[(pred['target'].isin(target_prediction_list))]

                    #filter max date
                    if max_date:
                        pred = pred[pred['target_end_date'] <= max_date]

                    if len(pred) == 0:
                        raise RuntimeError(f"There are no predictions for model {model} at location {target_location}")

                    scenarios = list(pred['scenario_id'].drop_duplicates())
                    predictions_list = [Predictions(pred[pred['scenario_id'] == scenario], t_col='target_end_date') for scenario in scenarios]
                    med_ensemble_predictions = median_ensemble(predictions_list)
                    ex_ensemble_predictions = extreme_ensemble(predictions_list)
                    median_ensembles[l][model] = med_ensemble_predictions
                    extreme_ensembles[l][model] = ex_ensemble_predictions

                    predictions_list += [med_ensemble_predictions, ex_ensemble_predictions]


                    # want to use medians as 'point' forecast instead of the point forecast since ensemble models do not have
                    # a reported 'point' forecast

                    medens_ptforecast = med_ensemble_predictions[med_ensemble_predictions['quantile'] == 0.5].reset_index()

                    medens_ptforecast = medens_ptforecast[['target_end_date', 'value','population']]

                    medens_ptforecast['Model'] = model

                    locname = list(pred.location_name.unique())[0]
                    medens_ptforecast['Location'] = locname


                    df = pd.concat([df, medens_ptforecast])



                except Exception as e:
                    print(e)   


        df.to_pickle(f'allensemble_mape_{target}_rd{rd}.pkl')

In [46]:
predictions_rd16

,scenario_id,scenario_name,target,target_end_date,location,value,type,quantile,model_projection_date,Model
0,A-2022-10-29,highBoo_modVar,1 wk ahead cum case,2022-11-05,01,1.536303e+06,quantile,0.010,2022-10-30,Ensemble
1,A-2022-10-29,highBoo_modVar,1 wk ahead cum case,2022-11-05,02,3.003809e+05,quantile,0.010,2022-10-30,Ensemble
2,A-2022-10-29,highBoo_modVar,1 wk ahead cum case,2022-11-05,04,2.292100e+06,quantile,0.010,2022-10-30,Ensemble
3,A-2022-10-29,highBoo_modVar,1 wk ahead cum case,2022-11-05,05,9.604527e+05,quantile,0.010,2022-10-30,Ensemble
4,A-2022-10-29,highBoo_modVar,1 wk ahead cum case,2022-11-05,06,1.138180e+07,quantile,0.010,2022-10-30,Ensemble
...,...,...,...,...,...,...,...,...,...,...
818059,D-2022-10-29,lowBoo_highVar,9 wk ahead inc hosp,2022-12-31,78,1.900000e+00,quantile,0.850,2022-10-30,Ensemble_LOP_untrimmed
818060,D-2022-10-29,lowBoo_highVar,9 wk ahead inc hosp,2022-12-31,78,2.200000e+00,quantile,0.900,2022-10-30,Ensemble_LOP_untrimmed
818061,D-2022-10-29,lowBoo_highVar,9 wk ahead inc hosp,2022-12-31,78,2.400000e+00,quantile,0.950,2022-10-30,Ensemble_LOP_untrimmed
818062,D-2022-10-29,lowBoo_highVar,9 wk ahead inc hosp,2022-12-31,78,2.500000e+00,quantile,0.975,2022-10-30,Ensemble_LOP_untrimmed
818063,D-2022-10-29,lowBoo_highVar,9 wk ahead inc hosp,2022-12-31,78,2.600000e+00,quantile,0.990,2022-10-30,Ensemble_LOP_untrimmed

In [76]:
startdates = [Week(2021,12), Week(2021,17), Week(2021,21), Week(2021,27), Week(2021,36), Week(2021,46), Week(2021,51),
             Week(2022,2), Week(2022,11), Week(2022,23), Week(2022,31), Week(2022,44)]


enddates = [Week(2021,38), Week(2021,43), Week(2021,47), Week(2021,52), Week(2022,9), Week(2022, 45), Week(2022, 10),
           Week(2022, 13), Week(2023, 11), Week(2023, 23), Week(2023, 18), Week(2023, 17)]

rds = [4, 5, 6, 7, 9, 10, 11, 12, 13, 14 ,15, 16]

rds = [16]

ind = -1


for predrd in predsall:
    rd = rds[ind]
    start_week = startdates[ind]
    end_week = enddates[ind]
    
    ind += 1
    
    if rd in [4, 5]:
        max_date = datetime.datetime(2021, 6, 23)
    elif rd in [6,7,8,9]:
        max_date = datetime.datetime(2021, 12, 21)
    else:
        max_date = None


    for target in ['case', 'death', 'hosp']:

        dfpt = pd.read_pickle(f'allensemble_mape_{target}_rd{rd}.pkl')


        obsdf = pd.DataFrame()


        for l in loclist:    
            target_location = l

            if target == 'hosp':
                target_obs = 'hospitalization'
            else:
                target_obs = target
            observations = pd.read_parquet(f"./dat/truth_{'inc' if incidence else 'cum'}_{target_obs}.pq")
            observations['date'] = pd.to_datetime(observations['date'])

            #filter start - end week
            observations = observations[(observations['date'] >= pd.to_datetime(start_week.startdate())) & 
                                    (observations['date'] <= pd.to_datetime(end_week.enddate()))]



            #filter location
            observations = observations[observations['location'] == target_location]

            #aggregate to weekly
            observations = observations.groupby(['location', pd.Grouper(key='date', freq='W-SAT')]).sum().reset_index()

            if max_date:
                observations = observations[observations['date'] <= max_date].copy()

            #transform to Observation object
            observations = Observations(observations)


            obsdf = pd.concat([obsdf, observations])

        obsdf = obsdf.reset_index()
        obsdf = obsdf.astype({'location':'int'})
        obsdf = obsdf.merge(locations, how='inner', on='location')
        obsdf = obsdf.drop(['index'], axis=1)


        obs = obsdf

        models = list(dfpt.Model.unique())
        locs = list(dfpt.Location.unique())

        mapedf = pd.DataFrame(columns=['Model', 'Location','Population', 'MAPE'])

        for model in models:
            for l in locs:
                a = dfpt[(dfpt.Model ==model)& (dfpt.Location ==l)]
                b = obs[obs.location_name ==l]

                n = b.shape[0]

                mapesum = 0
                realvals = list(b.value)
                predvals = list(a.value)

                if len(predvals) == 0:
                    continue

                for i in range(n):
                    err = abs((realvals[i]-predvals[i])/realvals[i])

                    mapesum += err

                mape = 1/n * mapesum


                data = {'Model': model,'Location': l,'Population': a.population.unique()[0], 'MAPE':mape}

                # Create DataFrame
                newdf = pd.DataFrame(data, index=[1])

                mapedf = pd.concat([mapedf, newdf])

        mapedf = mapedf.reset_index()
        mapedf = mapedf.drop(['index'], axis=1)

ZeroDivisionError: float division by zero

In [77]:
a

   target_end_date        value  population     Model Location
0       2022-11-05  2890.422191   4903185.0  Ensemble  Alabama
1       2022-11-12  2662.500000   4903185.0  Ensemble  Alabama
2       2022-11-19  2555.500000   4903185.0  Ensemble  Alabama
3       2022-11-26  2472.588819   4903185.0  Ensemble  Alabama
4       2022-12-03  2435.851913   4903185.0  Ensemble  Alabama
5       2022-12-10  2559.267289   4903185.0  Ensemble  Alabama
6       2022-12-17  2751.872487   4903185.0  Ensemble  Alabama
7       2022-12-24  3096.039361   4903185.0  Ensemble  Alabama
8       2022-12-31  2458.982711   4903185.0  Ensemble  Alabama
9       2023-01-07  2537.374573   4903185.0  Ensemble  Alabama
10      2023-01-14  2545.013853   4903185.0  Ensemble  Alabama
11      2023-01-21  2630.388923   4903185.0  Ensemble  Alabama
12      2023-01-28  2787.082958   4903185.0  Ensemble  Alabama
13      2023-02-04  2291.324910   4903185.0  Ensemble  Alabama
14      2023-02-11  1937.130427   4903185.0  Ensemble  Alabama
15      2023-02-18  1665.843343   4903185.0  Ensemble  Alabama
16      2023-02-25  1700.576454   4903185.0  Ensemble  Alabama
17      2023-03-04  1878.463050   4903185.0  Ensemble  Alabama
18      2023-03-11  1779.188346   4903185.0  Ensemble  Alabama

In [78]:
b

   location       date  value abbreviation location_name  population
0         1 2022-11-05      0           AL       Alabama     4903185

In [79]:
obs

    location       date  value abbreviation         location_name  population
0          1 2022-11-05      0           AL               Alabama     4903185
1          2 2022-11-05      0           AK                Alaska      731545
2          4 2022-11-05      0           AZ               Arizona     7278717
3          5 2022-11-05    276           AR              Arkansas     3017804
4          6 2022-11-05   4142           CA            California    39512223
5          8 2022-11-05   2571           CO              Colorado     5758736
6          9 2022-11-05    433           CT           Connecticut     3565287
7         10 2022-11-05    393           DE              Delaware      973764
8         11 2022-11-05      0           DC  District of Columbia      705749
9         12 2022-11-05      0           FL               Florida    21477737
10        13 2022-11-05      0           GA               Georgia    10617423
11        15 2022-11-05      0           HI                Hawaii     1415872
12        16 2022-11-05      0           ID                 Idaho     1787065
13        17 2022-11-05   4970           IL              Illinois    12671821
14        18 2022-11-05      0           IN               Indiana     6732219
15        19 2022-11-05      0           IA                  Iowa     3155070
16        20 2022-11-05      0           KS                Kansas     2913314
17        21 2022-11-05   4775           KY              Kentucky     4467673
18        22 2022-11-05      0           LA             Louisiana     4648794
19        23 2022-11-05      1           ME                 Maine     1344212
20        24 2022-11-05    819           MD              Maryland     6045680
21        25 2022-11-05      0           MA         Massachusetts     6892503
22        26 2022-11-05      0           MI              Michigan     9986857
23        27 2022-11-05      0           MN             Minnesota     5639632
24        28 2022-11-05      0           MS           Mississippi     2976149
25        29 2022-11-05    333           MO              Missouri     6626371
26        30 2022-11-05      3           MT               Montana     1068778
27        31 2022-11-05      0           NE              Nebraska     1934408
28        32 2022-11-05      0           NV                Nevada     3080156
29        33 2022-11-05    342           NH         New Hampshire     1359711
30        34 2022-11-05   2433           NJ            New Jersey     8882190
31        35 2022-11-05   1040           NM            New Mexico     2096829
32        36 2022-11-05  10244           NY              New York    19453561
33        37 2022-11-05      0           NC        North Carolina    10488084
34        38 2022-11-05      0           ND          North Dakota      762062
35        39 2022-11-05      0           OH                  Ohio    11689100
36        40 2022-11-05      0           OK              Oklahoma     3956971
37        41 2022-11-05      0           OR                Oregon     4217737
38        42 2022-11-05    573           PA          Pennsylvania    12801989
39        44 2022-11-05      0           RI          Rhode Island     1059361
40        45 2022-11-05      0           SC        South Carolina     5148714
41        46 2022-11-05      0           SD          South Dakota      884659
42        47 2022-11-05      0           TN             Tennessee     6829174
43        48 2022-11-05   3687           TX                 Texas    28995881
44        49 2022-11-05      0           UT                  Utah     3205958
45        50 2022-11-05      0           VT               Vermont      623989
46        51 2022-11-05   2672           VA              Virginia     8535519
47        53 2022-11-05   3131           WA            Washington     7614893
48        54 2022-11-05    738           WV         West Virginia     1792147
49        55 2022-11-05   2211           WI             Wisconsin     5822434
50        56 2022-11-05      0           WY               Wyoming      578759

In [92]:
observations = pd.read_parquet(f"./dat/truth_{'inc' if incidence else 'cum'}_{target_obs}.pq")
observations['date'] = pd.to_datetime(observations['date'])
#observations = observations[(observations['date'] >= pd.to_datetime(start_week.startdate())) & 
 #                                   (observations['date'] <= pd.to_datetime(end_week.enddate()))]

In [93]:
observations[observations.location =='US']

              date location  location_name  value
3243786 2020-01-22       US  United States      1
3243787 2020-01-23       US  United States      0
3243788 2020-01-24       US  United States      1
3243789 2020-01-25       US  United States      0
3243790 2020-01-26       US  United States      3
...            ...      ...            ...    ...
3244795 2022-10-27       US  United States  56808
3244796 2022-10-28       US  United States  28229
3244797 2022-10-29       US  United States   8632
3244798 2022-10-30       US  United States   3107
3244799 2022-10-31       US  United States  44437

[1014 rows x 4 columns]

In [94]:
observations[(observations['date'] >= pd.to_datetime(start_week.startdate()))]

              date location   location_name  value
1012    2022-10-30    01001  Autauga County      0
1013    2022-10-31    01001  Autauga County      0
2026    2022-10-30    01003  Baldwin County      0
2027    2022-10-31    01003  Baldwin County      0
3040    2022-10-30    01005  Barbour County      0
...            ...      ...             ...    ...
3242771 2022-10-31       55       Wisconsin   2211
3243784 2022-10-30       56         Wyoming      0
3243785 2022-10-31       56         Wyoming      0
3244798 2022-10-30       US   United States   3107
3244799 2022-10-31       US   United States  44437

[6400 rows x 4 columns]

In [88]:
end_week.enddate()

datetime.date(2023, 4, 29)

In [98]:
obs

    location       date  value abbreviation         location_name  population
0          1 2022-11-05      0           AL               Alabama     4903185
1          2 2022-11-05      0           AK                Alaska      731545
2          4 2022-11-05      0           AZ               Arizona     7278717
3          5 2022-11-05    276           AR              Arkansas     3017804
4          6 2022-11-05   4142           CA            California    39512223
5          8 2022-11-05   2571           CO              Colorado     5758736
6          9 2022-11-05    433           CT           Connecticut     3565287
7         10 2022-11-05    393           DE              Delaware      973764
8         11 2022-11-05      0           DC  District of Columbia      705749
9         12 2022-11-05      0           FL               Florida    21477737
10        13 2022-11-05      0           GA               Georgia    10617423
11        15 2022-11-05      0           HI                Hawaii     1415872
12        16 2022-11-05      0           ID                 Idaho     1787065
13        17 2022-11-05   4970           IL              Illinois    12671821
14        18 2022-11-05      0           IN               Indiana     6732219
15        19 2022-11-05      0           IA                  Iowa     3155070
16        20 2022-11-05      0           KS                Kansas     2913314
17        21 2022-11-05   4775           KY              Kentucky     4467673
18        22 2022-11-05      0           LA             Louisiana     4648794
19        23 2022-11-05      1           ME                 Maine     1344212
20        24 2022-11-05    819           MD              Maryland     6045680
21        25 2022-11-05      0           MA         Massachusetts     6892503
22        26 2022-11-05      0           MI              Michigan     9986857
23        27 2022-11-05      0           MN             Minnesota     5639632
24        28 2022-11-05      0           MS           Mississippi     2976149
25        29 2022-11-05    333           MO              Missouri     6626371
26        30 2022-11-05      3           MT               Montana     1068778
27        31 2022-11-05      0           NE              Nebraska     1934408
28        32 2022-11-05      0           NV                Nevada     3080156
29        33 2022-11-05    342           NH         New Hampshire     1359711
30        34 2022-11-05   2433           NJ            New Jersey     8882190
31        35 2022-11-05   1040           NM            New Mexico     2096829
32        36 2022-11-05  10244           NY              New York    19453561
33        37 2022-11-05      0           NC        North Carolina    10488084
34        38 2022-11-05      0           ND          North Dakota      762062
35        39 2022-11-05      0           OH                  Ohio    11689100
36        40 2022-11-05      0           OK              Oklahoma     3956971
37        41 2022-11-05      0           OR                Oregon     4217737
38        42 2022-11-05    573           PA          Pennsylvania    12801989
39        44 2022-11-05      0           RI          Rhode Island     1059361
40        45 2022-11-05      0           SC        South Carolina     5148714
41        46 2022-11-05      0           SD          South Dakota      884659
42        47 2022-11-05      0           TN             Tennessee     6829174
43        48 2022-11-05   3687           TX                 Texas    28995881
44        49 2022-11-05      0           UT                  Utah     3205958
45        50 2022-11-05      0           VT               Vermont      623989
46        51 2022-11-05   2672           VA              Virginia     8535519
47        53 2022-11-05   3131           WA            Washington     7614893
48        54 2022-11-05    738           WV         West Virginia     1792147
49        55 2022-11-05   2211           WI             Wisconsin     5822434
50        56 2022-11-05      0           WY               Wyoming      578759